.env
.gitignore

# Ignore all Markdown files (untracked only)
*.md

# If you want to keep README.md tracked, uncomment the next line:
!README.md


node_modules/
.env
dist/
coverage/
__pycache__/

# Backups (Unused)
restaurant-service-nodejs-backup/
/migrations/*